.btn {
    display: block;
    
}

.histButton {
    display:block;
    width: 100%;
    margin-top: 10px;
}

.inputField {
    position: relative;
}

.cityText {
    color: white;
    width: 25%;
    text-align: center;
}